.menu-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 700px;

  outline: 1px dashed blue;
}

.menu-container {
  background: rgba(0, 143, 203, 0.39);
  min-height: 46px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.btn {
  padding: 10px 20px 10px 20px;
  float: left;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 22px;
  color: #000000;
}

.active {
  color: #ffffff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.active-button-block {
  background: linear-gradient(to left, rgba(255, 0, 0, 0.65), #ff0000);
  border-radius: 30px;
  float: left;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}